{% load static %}

<link rel="apple-touch-icon" sizes="180x180" href="{% static 'website/favicons/apple-touch-icon.png' %}?v=YAm878xwo9">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'website/favicons/favicon-32x32.png' %}?v=YAm878xwo9">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'website/favicons/favicon-16x16.png' %}?v=YAm878xwo9">
<link rel="manifest" href="{% static 'website/favicons/site.webmanifest' %}?v=YAm878xwo9">
<link rel="mask-icon" href="{% static 'website/favicons/safari-pinned-tab.svg' %}?v=YAm878xwo9" color="#f37c1b">
<link rel="shortcut icon" href="{% static 'website/favicons/favicon.ico' %}?v=YAm878xwo9">
<meta name="msapplication-TileColor" content="#f37c1b">
<meta name="msapplication-config" content="{% static 'website/favicons/browserconfig.xml' %}?v=YAm878xwo9">
<meta name="theme-color" content="#f37c1b">
