beautifulsoup4==4.6.0
cleverwrap==0.2.3.6
git+git://github.com/morchkovalski/discord.py.git@mkstuff#egg=discord.py
Django==2.0
django-colorfield==0.1.14
facebook-sdk==2.0.0
html5lib==1.0.1
Pillow==4.3.0
psycopg2==2.7.4
requests==2.13.0
Telethon==0.17.4.3
twitter==1.18.0
