beautifulsoup4
cleverwrap
git+git://github.com/morchkovalski/discord.py.git@rewrite#egg=discord.py
Django
django-colorfield
facebook-sdk==2.0.0
html5lib
Pillow
psycopg2-binary
requests
telethon-aio==1.0rc1
python-twitter==3.4.1
python-dotenv
googletrans
django-recaptcha
whitenoise
brotlipy
django-compressor
async_generator
yarl<1.2
djangorestframework
markdown
django-filters
coreapi
pyyaml
