* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'hlfont';
    src: url('https://static.morchkovalski.com/memeviewer/hlfont.woff2') format('woff2'),
    url('https://static.morchkovalski.com/memeviewer/hlfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: hlfont, sans-serif;
    background-color: #222;
    color: #ddd;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    letter-spacing: 2px;
}

img {
    max-height: 400px;
    max-width: 100%;
    vertical-align: bottom;
    margin-bottom: 10px;
}

table {
    /*background-color: #ddd;*/
    max-width: 700px;
    /*width: 700px;*/
    margin: 0 auto;
    padding-top: 10px;
}

table, td, th {
    overflow: hidden;
}

td {
    /*padding-top: 10px;*/
}

th {
    padding: 20px 10px 10px;
}

h1 {
    margin-bottom: 10px;
    font-size: 40px;
}

p {
    font-size: 14px;
}

#date {
    margin-top: 10px;
}

.fb_iframe_widget span {
    vertical-align: baseline !important;
}

#social {
    height: 30px;
}

a {
    text-decoration: none;
    color: #ff8222;
}

a:hover {
    color: #ffac61;
}

a:active {
    color: #fff;
}
