* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'PT Sans', sans-serif;
    background-color: #222;
    color: #ddd;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    letter-spacing: 2px;
}

img {
    max-height: 400px;
    max-width: 100%;
    vertical-align: bottom;
    margin-bottom: 10px;
}

table {
    max-width: 700px;
    margin: 0 auto;
}

table, td, th {
    overflow: hidden;
}

th {
    padding: 10px 0 20px;
}

h1 {
    font-size: 40px;
}

h2 {
    margin-top: 20px;
}

h3 {
    color: #aaa;
    margin: 5px;
}

p {
    font-size: 14px;
    margin-bottom: 10px;
}

#date {
    margin-top: 10px;
}

.fb_iframe_widget span {
    vertical-align: baseline !important;
}

#social {
    height: 44px;
    padding-top: 10px;
}

#social a {
    display: inline-block;
    width: 50px;
    height: 44px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.80;
    cursor: pointer;
}

#social a:hover {
    opacity: 1;
}

#fb_icon { background-image: url("img/fb.png"); }
#tw_icon { background-image: url("img/tw.png"); }
#gh_icon { background-image: url("img/gh.png"); }
#dc_icon { background-image: url("img/dc.png"); }

a {
    text-decoration: none;
    color: #ff8222;
}

a:hover {
    color: #ffac61;
}

a:active {
    color: #fff;
}
