{% load static %}
{% load compress %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
    {% compress css %}
    <link rel="stylesheet" type="text/css" href="{% static 'website/memeviewer.css' %}">
    {% endcompress %}
    <script
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
        crossorigin="anonymous"></script>

    {% block head_extra %}{% endblock %}

</head>
<body>

<h1><a href="{{ request.website_url }}">LambdaBot</a></h1>

<div id="social">
    <a id="dc_icon" href="#" onclick="alert('soon™');"></a>
    <a id="gh_icon" href="#" onclick="alert('soon™');"></a>
    <a id="fb_icon" target="_blank" href="https://fb.com/lambdabot"></a>
    <a id="tw_icon" target="_blank" href="https://twitter.com/lambdabot3883"></a>
</div>

<div id="add_to_discord">
{#    <a#}
</div>

<h2>⸻ ⸻ ⸻</h2>

{% block content %}{% endblock %}

<h2>⸻ ⸻ ⸻</h2>
<br>
<p>© morch kovalski 2018</p>

</body>
</html>
