{% extends 'website/base.html' %}
{% load static %}

{% block head_extra %}

    <meta property="og:title" content="LambdaBot"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://lambdabot.morchkovalski.com"/>

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@lambdabot3883">
    <meta name="twitter:creator" content="@lambdabot3883">
    <meta name="twitter:title" content="LambdaBot">

    <title>LambdaBot</title>

{% endblock %}

{% block content %}

    <p>(under construction)</p>

{% endblock %}
