{% extends 'website/base.html' %}
{% load static %}

{% block head_extra %}

    <meta property="og:title" content="LambdaBot meme #{{ meme.number }}"/>
    <meta property="og:type" content="article"/>
    <meta property="og:url" content="{{ meme.info_url }}"/>
    <meta property="og:image" content="{{ meme.url }}"/>
    <meta property="og:description" content="{{ meme.gen_date }}"/>

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@lambdabot3883">
    <meta name="twitter:creator" content="@lambdabot3883">
    <meta name="twitter:title" content="LambdaBot meme #{{ meme.number }}">
    <meta name="twitter:description" content="{{ meme.gen_date }}">
    <meta name="twitter:image" content="{{ meme.url }}">

    <title>LambdaBot meme #{{ meme.number }}</title>

{% endblock %}

{% block content %}

    <div class="memeinfo">
        <h3>#{{ meme.number }}</h3>
        <p id="date">
        {% if meme.facebookmeem %}
            <a href="https://facebook.com/{{  meme.facebookmeem.post }}" target="_blank">facebook :: {{ meme.facebookmeem.page.name }}</a>
        {% elif meme.twittermeem %}
            <a href="https://twitter.com/statuses/{{ meme.twittermeem.post }}" target="_blank">twitter :: {{ meme.twittermeem.page.name }} :: @{{ meme.twittermeem.page.handle }}</a>
        {% elif meme.discordmeem %}
            discord ::
            {% if meme.discordmeem.discord_channel.server %}
                {{ meme.discordmeem.discord_channel.server.name }} :: #{{ meme.discordmeem.discord_channel.name }}
            {% else %}
                DM
            {% endif %}
        {% endif %}
        </p>
        <p>{{ meme.gen_date }}</p>
        <a href="{{ meme.url }}">
            <img src="{{ meme.url }}" alt="meme"><br>
        </a>
        <br>
        {% if meme.template_link.bgimage_url %}
            <h4>template</h4>
            <a href="{{ meme.template_link.bgimage_url }}">
                <img src="{{ meme.template_link.bgimage_url }}" alt="template bg">
            </a>
        {% endif %}
        {% if meme.template_link.image_url %}
            <h4>template overlay</h4>
            <a href="{{ meme.template_link.image_url }}">
                <img src="{{ meme.template_link.image_url }}" alt="template fg">
            </a>
        {% endif %}
        <p>{{ meme.template_link }}</p>
        <br>
        <h4>source images</h4>
        {% for source_img in meme.sourceimgs %}
            <a href="{{ source_img.image_url }}">
                <img src="{{ source_img.image_url }}" alt="source image">
            </a><br>
        {% endfor %}
    </div>

{% endblock %}
