<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta property="og:title" content="Is HDTF out yet?"/>
    <meta property="og:type" content="article"/>
    <meta property="og:url" content="http://store.steampowered.com/app/723390/Hunt_Down_The_Freeman/"/>
    <meta property="og:description" content="{{ hdtf_yet }}"/>

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@lambdabot3883">
    <meta name="twitter:creator" content="@lambdabot3883">
    <meta name="twitter:title" content="Is HDTF out yet?">
    <meta name="twitter:description" content="{{ hdtf_yet }}">

    <title>Is HDTF out yet?</title>
</head>
<body>
    {{ hdtf_yet }}
</body>
</html>
