{% extends 'memeviewer/base.html' %}
{% load static %}

{% block head_extra %}

    <meta property="og:title" content="{{ bot_name }} meme #{{ meme.number }}"/>
    <meta property="og:type" content="article"/>
    <meta property="og:url" content="{{ meme.get_info_url }}"/>
    <meta property="og:image" content="{{ meme.get_url }}"/>
    <meta property="og:description" content="{{ meme.gen_date }}"/>

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@{{ bot_name_twitter }}">
    <meta name="twitter:creator" content="@{{ bot_name_twitter }}">
    <meta name="twitter:title" content="{{ bot_name }} meme #{{ meme.number }}">
    <meta name="twitter:description" content="{{ meme.gen_date }}">
    <meta name="twitter:image" content="{{ meme.get_url }}">

    <title>{{ bot_name }} meme #{{ meme.number }}</title>

{% endblock %}

{% block content %}

    <p id="date">
        meme #{{ meme.number }} - {{ meme.gen_date }}<br>
        {{ meme.context_link.name }}
    </p>

    <table>
        <tr>
            <td>
                <a href="{{ meme.get_url }}">
                    <img src="{{ meme.get_url }}" alt="meme">
                </a>
                <br><a href="{{ meme.get_info_url }}">This page</a>
                {% if facebook_url %}
                    | <a href="https://facebook.com/{{  facebook_url }}" target="_blank">Facebook post</a>
                {% endif %}
                {% if twitter_url %}
                    | <a href="https://twitter.com/{{ bot_name_twitter }}/status/{{ twitter_url }}" target="_blank">Twitter post</a>
                {% endif %}
                {% if perms.meem.change_meem %}
                    | {{ meme.get_admin_link }}
                {% endif %}
            </td>
        </tr>
        {% if meme.template_link.get_bgimage_url %}
            <tr>
                <th>
                    template
                </th>
            </tr>
            <tr>
                <td>
                    <a href="{{ meme.template_link.get_bgimage_url }}">
                        <img src="{{ meme.template_link.get_bgimage_url }}" alt="template bg">
                    </a>
                </td>
            </tr>
        {% endif %}
        {% if meme.template_link.get_image_url %}
            <tr>
                <th>
                    template overlay
                </th>
            </tr>
            <tr>
                <td>
                    <a href="{{ meme.template_link.get_image_url }}">
                        <img src="{{ meme.template_link.get_image_url }}" alt="template fg">
                    </a><br>
                </td>
            </tr>
        {% endif %}
        <tr><td>
            <p>{{ meme.template_link }}</p>
        </td></tr>
        <tr>
            <th>source images</th>
        </tr>
        {% for source_img in meme.get_sourceimgs %}
            <tr>
                <td>
                    <a href="{{ source_img.get_image_url }}">
                        <img src="{{ source_img.get_image_url }}" alt="source image">
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
