{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="LambdaBot meme #{{ num }}"/>
    <meta property="og:type" content="article"/>
    <meta property="og:url" content="{{ meme_info_url }}"/>
    <meta property="og:image" content="{{ meme_url }}"/>
    <meta property="og:description" content="{{ gen_date }}"/>

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@lambdabot3883">
    <meta name="twitter:creator" content="@lambdabot3883">
    <meta name="twitter:title" content="LambdaBot meme #{{ num }}">
    <meta name="twitter:description" content="{{ gen_date }}">
    <meta name="twitter:image" content="{{ meme_url }}">

    <title>LambdaBot meme #{{ num }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'memeviewer/memeviewer.css' %}?v=4">
</head>
<body>

<div id="fb-root"></div>
<div id="fb-root"></div>
<script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10&appId=100223894041175";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

<h1>LambdaBot 3883</h1>

<div id="social">
<div class="fb-like" data-href="https://www.facebook.com/lambdabot" data-layout="button_count" data-action="like"
     data-size="large" data-show-faces="false" data-share="false"></div>

<a href="https://twitter.com/LambdaBot3883" class="twitter-follow-button" data-size="large"
   data-show-screen-name="false" data-show-count="false">Follow @LambdaBot3883</a>
</div>

<p id="date">
    meme #{{ num }} - {{ gen_date }}
</p>

<table>
    <tr>
        <td>
            <a href="{{ meme_url }}" target="_blank">
                <img src="{{ meme_url }}" alt="meme">
            </a>
            <br><a href="{{ meme_info_url }}">This page</a>
            {% if facebook_url %}
                | <a href="{{ facebook_url }}" target="_blank">Facebook post</a>
            {% endif %}
            {% if twitter_url %}
                | <a href="{{ twitter_url }}" target="_blank">Twitter post</a>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>
            {% if template_bg_url %}
                template foreground
            {% else %}
                template
            {% endif %}
        </th>
    </tr>
    <tr>
        <td>
            <a href="{{ template_url }}" target="_blank">
                <img src="{{ template_url }}" alt="template">
            </a>
        </td>
    </tr>
    {% if template_bg_url %}
        <tr>
            <th>
                template background
            </th>
        </tr>
        <tr>
            <td>
                <a href="{{ template_bg_url }}" target="_blank">
                    <img src="{{ template_bg_url }}" alt="template">
                </a>
            </td>
        </tr>
    {% endif %}
    <tr>
        <th>source images</th>
    </tr>
    {% for source_url in source_urls %}
        <tr>
            <td>
                <a href="{{ source_url }}" target="_blank">
                    <img src="{{ source_url }}" alt="source image">
                </a>
            </td>
        </tr>
    {% endfor %}
</table>

</body>
</html>
